<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    <li>- O que o lápis disse para o papel?
- Você está me desapontando.
    </li>
    <li>- Soy paraguaio e vim para matar-te.
- Para o quê?
- Paraguaio.
    </li>
    <li>No primeiro dia de aula, uma aluna nova se apresenta à professora:
- Meu nome é Jaqueline, tenho 13 anos e já namoro.
- Já o quê?
- Jaqueline.
    </li>
    <li>- O que a esposa do Albert Einstein disse quando o viu sem roupa?
- Uau, que físico.
    </li>
    <li>Um amigo agradece ao outro:
- Muito obrigado.
- Disponha.
- Ponha.
</li>
    <li>
- Por que a planta não responde?
- Porque ela é mudinha.
    </li>
    <li>Um filho diz para a mãe:
- Mãe, tenho uma festa de 15 anos para ir.
- Mas não dá para ficar só um dia? 15 anos é muito tempo.
    </li>
    <li>O paciente chega no consultório e o médico diz:
- Bom dia, tudo bem?
- Tudo sim, Doutor.
- Ótimo, então já pode ir embora.
    </li>
    <li>
No restaurante, o garçom pergunta:
- O que deseja para beber? Caipirinha?
- Não, obrigado, não bebo destilado.
- Ah, sem problemas. Posso servir pelo outro lado.
    </li>
    <li>
- Qual foi o peixe que caiu do 15º andar?
- Aaaaaaaaaatum.
    </li>
    <li>- O que o martelo foi fazer no culto de domingo?
- Pregar.
    </li>
    <li>Eu tinha um pintinho chamado Relam. Toda vez que chovia, Relam piava.
    </li>
</ul>
</body>
</html>